@import url("https://fonts.googleapis.com/css?family=Ubuntu|Nunito|Oxygen|Raleway");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  line-height: 1.4;
  color: white;
  font-family: Raleway;
  background-image: linear-gradient(to right top, #1a181b, #222023, #3d2c44, #5a3867, #3d2c44, #222023, #1a181b);
}

body h1 {
  color: #ff9933;
  font-weight: 600;
  font-size: calc(1.4em + 2vw);
}

body img {
  width: calc(3em + 7vw);
  height: calc(3em + 7vw);
  z-index: -1;
  position: absolute;
}

body #left-img {
  transform: rotate(-35deg);
  bottom: 7%;
  left: 8%;
}

body #right-img {
  transform: rotate(135deg);
  top: 7%;
  right: 10%;
}

body h3 {
  font-size: calc(0.4em + 1.2vw);
}

body p {
  margin-top: 0;
  width: 60%;
  font-size: calc(0.6em + 0.7vw);
}

body form {
  width: 100%;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
}

body form input[type=text] {
  width: 50%;
  height: auto;
  padding: 17px 10px;
  margin: 0 2px;
  font-size: calc(0.4em + 1vw);
  outline: none;
  border: none;
  border-radius: 5px 0 0 5px;
}

body form input[type=submit] {
  text-transform: uppercase;
  font-family: inherit;
  font-size: calc(0.3em + 0.8vw);
  font-weight: 800;
  border-radius: 0 25px 25px 0;
  width: 10%;
  height: auto;
  padding: 20px 10px;
  background: #ff9933;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 580px) {
  body p {
    width: 90%;
  }
  body #left-img {
    bottom: 0%;
  }
  body form input[type=text] {
    width: 70%;
  }
  body form input[type=submit] {
    width: 20%;
  }
}
